RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

<IfModule mod_php8.c>
    php_flag display_errors On
    php_value error_reporting -1
</IfModule>

SetHandler application/x-lsphp82

<Files "*.php">
    SetHandler application/x-lsphp82
</Files>

# Prevenir acceso directo a archivos sensibles
<FilesMatch "\.(log|sql|md)$">
    Order allow,deny
    Deny from all
</FilesMatch>